<div class="bg-color1 p-[85px] px-10 pb-12 h-max">
  <h2 class="text-center font-bold text-xl mb-4">MI RESERVA</h2>

  <div class="mx-auto max-w-[500px] bg-gray-100 rounded-lg shadow-lg p-8">
    <form>
      <!-- Input para código -->
      <div class="mb-4">
        <label for="codigo" class="block mb-2 font-medium text-gray-700">CÓDIGO</label>
        <input type="text" class="w-full p-3 border border-gray-300 rounded-md focus:border-indigo-500 focus:ring-indigo-500" id="codigo" placeholder="Ingrese su código de reserva">
      </div>

      <!-- Input para teléfono -->
      <div class="mb-4">
        <label for="telefono" class="block mb-2 font-medium text-gray-700">NÚMERO DE TELÉFONO</label>
        <input type="tel" class="w-full p-3 border border-gray-300 rounded-md focus:border-indigo-500 focus:ring-indigo-500" id="telefono" placeholder="Ingrese su número de teléfono">
      </div>

      <!-- Botón de aceptar -->
      <button type="submit" class="bg-indigo-600 text-white font-medium py-2 rounded-md w-full hover:bg-indigo-500 transition duration-200 text-center" routerLink="/tracker/status">
        ACEPTAR
      </button>
    </form>
  </div>
</div>
