<div class="relative">
  <img src="assets/img/fondo.jpg" alt="" class="w-full h-[500px] md:h-[400px] sm:h-[300px] object-cover">
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-red-600 text-5xl md:text-4xl sm:text-3xl font-bold text-center">EL TOSTON</div>
</div>

<div class="catalogo pt-5 pb-1 color2 flex items-center flex-col">
  <div class="p-8 text-3xl pb-10 text-center">EVENTOS</div>

  <section class="flex flex-wrap justify-center gap-4 px-5 section">
    <img src="assets/img/PROD/5.jpg" alt="" class="galeria w-80 h-80 md:w-72 md:h-72 sm:w-48 sm:h-48 object-cover">
    <img src="assets/img/PROD/6.jpg" alt="" class="galeria w-80 h-80 md:w-72 md:h-72 sm:w-48 sm:h-48 object-cover">
    <img src="assets/img/PROD/14.jpg" alt="" class="galeria w-80 h-80 md:w-72 md:h-72 sm:w-48 sm:h-48 object-cover">
    <img src="assets/img/PROD/17.jpg" alt="" class="galeria w-80 h-80 md:w-72 md:h-72 sm:w-48 sm:h-48 object-cover">
    <img src="assets/img/PROD/21.jpg" alt="" class="galeria w-80 h-80 md:w-72 md:h-72 sm:w-48 sm:h-48 object-cover">
  </section>

</div>

<!--<div class="p-8 bg-color1 flex flex-col items-center pb-9 acerca">-->
<!--  <h2 class="pb-3 text-xl md:text-lg sm:text-base font-semibold pt-5 text-center">NOSOTROS</h2>-->
<!--  <p class="px-5 text-center text-base md:text-sm sm:text-xs">En El Toston, nos especializamos en la renta de muebles y mobiliario para todo tipo de eventos, desde bodas hasta celebraciones corporativas. Fundada en 2005, nuestra misión es ofrecer soluciones creativas y personalizadas que reflejen el estilo de nuestros clientes. Contamos con una amplia variedad de productos, incluyendo sillas, mesas, manteles y vajilla, todos seleccionados por su calidad y elegancia. Nuestro compromiso es garantizar la satisfacción total de nuestros clientes, haciendo de cada evento una experiencia inolvidable.</p>-->
<!--</div>-->

<div class="p-6 bg-color1 flex flex-col items-center acerca">
  <h2 class="pb-2 text-xl font-semibold pt-4">NOSOTROS</h2>
  <p class="px-4 text-center max-w-2xl">
    En El Toston, nos especializamos en la renta de muebles y mobiliario para todo tipo de eventos, desde bodas hasta celebraciones corporativas. Fundada en 2005, nuestra misión es ofrecer soluciones creativas y personalizadas que reflejen el estilo de nuestros clientes. Contamos con una amplia variedad de productos, incluyendo sillas, mesas, manteles y vajilla, todos seleccionados por su calidad y elegancia. Nuestro compromiso es garantizar la satisfacción total de nuestros clientes, haciendo de cada evento una experiencia inolvidable.
  </p>
</div>

