.section{
  width: 700px;
  height: 430px;
}

.galeria{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover{
  cursor: crosshair;
  width: 400px;
  opacity: 1;
  filter: contrast(110%);
}

.acerca{
  height: 360px;
}

.section {
  display: flex; /* Habilita el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Opcional: centra verticalmente si hay más altura */
  width: 100%;
}

app-image-carousel {
  width: 100%; /* Ajusta el ancho del carrusel */
  max-width: 900px; /* Define un tamaño máximo para el carrusel */
  height: auto; /* Mantiene proporciones automáticas */
  padding: 10px; /* Opcional: añade algo de espacio interior */
}

