<div class="principal flex flex-col items-center bg-gray-100 pt-20">
  <h2 class="text-3xl font-bold mb-4 pt-5">CATÁLOGO</h2>

  <div class="desplegable flex ms-auto items-start me-5 pe-4 py-3">
    <div class="relative">
      <select class="btn bg-gray-600 text-white rounded-md px-4 py-2" type="button" id="dropdownMenuButton1" aria-expanded="false">
        Mueble
        <option>Mesas</option>
        <option>Sillas</option>
      </select>
      <ul class="dropdown-menu absolute hidden bg-white shadow-lg mt-1 rounded-md w-48" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item block px-4 py-2 text-gray-700 hover:bg-gray-200" href="#">Mesas</a></li>
        <li><a class="dropdown-item block px-4 py-2 text-gray-700 hover:bg-gray-200" href="#">Sillas</a></li>
        <li><a class="dropdown-item block px-4 py-2 text-gray-700 hover:bg-gray-200" href="#">Centros de Mesa</a></li>
      </ul>
    </div>
  </div>

  <div class="eventos px-12 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 pb-5">

    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/1.jpg" alt="imgXV" class="h-30vh object-cover mb-2">
      <div class="text-lg font-medium text-gray-900">Nombre</div>
      <div class="text-sm font-medium text-gray-900">$12,123.00</div>
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/2.jpg" alt="imgBaut" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/3.jpg" alt="imgBoda" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/4.jpg" alt="imgCumpleanios" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/5.jpg" alt="imgDespedida" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/6.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/7.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/8.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/9.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/10.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/11.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/12.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/13.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/14.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/15.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/16.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/17.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/18.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/19.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/20.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
    <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
      <img src="assets/img/PROD/21.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
    </div>
  </div>
</div>
