<div class="flex flex-col items-center bg-gray-200 pt-20 pb-10">
  <h2 class="text-3xl font-bold mb-4 pt-5">CATÁLOGO</h2>

  <div class="flex ms-auto items-start me-5 pe-4 py-3">
    <div class="relative">
      <select
        id="category"
        name="category"
        [(ngModel)]="categoriaSeleccionada"
        (change)="filterProductosPorCategoria()"
        class="mt-1 block w-full px-3 py-2 border bg-white text-black rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
      >
        <option value="">Todas las categorías</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </option>
      </select>
    </div>
  </div>

  <div class="px-12 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    <div class="group bg-white rounded-lg shadow-sm overflow-hidden h-[400px] relative mb-3" *ngFor="let producto of productos">
      <!-- Contenedor de la imagen -->
      <div class="w-full h-[250px]">
        <img class="w-full h-full object-cover"
             *ngFor="let img of producto.media_relacionado"
             [src]="mediaBaseUrl + img"
             alt="{{ producto.nombre }}"
        >
      </div>

      <!-- Contenido de la card con padding -->
      <div class="px-4 py-3">
        <!-- Información del producto -->
        <div class="text-lg font-medium text-gray-900">{{ producto.nombre }}</div>
        <div class="text-sm font-medium text-gray-900">${{ producto.precio_actual }}.00</div>

        <!-- Botón de agregar que aparece en hover -->
        <div class="absolute bottom-4 left-4 right-4 opacity-0 group-hover:opacity-100 transition-all duration-300 transform translate-y-2 group-hover:translate-y-0">
          <button class="w-full bg-teal-600 hover:bg-teal-700 text-white py-2 px-4 rounded-md font-medium flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
