<div class="carrito bg-gray-100 p-10 pb-52">
  <h2 class="text-center text-2xl font-bold mb-4 pt-10">CARRITO DE COMPRA</h2>

  <!-- Productos -->
  <div class="card mb-4 bg-white rounded-lg shadow">
    <div class="card-body mt-4 p-4">

      <div class="eventos px-12 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-4 pb-5">

        <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
          <img src="assets/img/PROD/1.jpg" alt="imgXV" class="h-30vh object-cover mb-2">
          <div class="text-lg font-medium text-gray-900">Nombre</div>
          <div class="text-sm font-medium text-gray-900">$12,123.00</div>
        </div>
        <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
          <img src="assets/img/PROD/2.jpg" alt="imgBaut" class="h-30vh object-cover mb-2">
        </div>
        <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
          <img src="assets/img/PROD/3.jpg" alt="imgBoda" class="h-30vh object-cover mb-2">
        </div>
        <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
          <img src="assets/img/PROD/4.jpg" alt="imgCumpleanios" class="h-30vh object-cover mb-2">
        </div>
        <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
          <img src="assets/img/PROD/5.jpg" alt="imgDespedida" class="h-30vh object-cover mb-2">
        </div>
        <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
          <img src="assets/img/PROD/6.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
        </div>
        <div class="imgEventos flex flex-col items-center cursor-pointer pb-3">
          <img src="assets/img/PROD/7.jpg" alt="imgGraduacion" class="h-30vh object-cover mb-2">
        </div>
      </div>

    </div>
  </div>

  <!-- Formulario de datos -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <div class="card bg-white rounded-lg shadow mb-4">
        <div class="card-body p-4">
          <h5 class="font-bold text-lg mb-4">DATOS</h5>
          <form>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-3">
              <div>
                <label for="nombre" class="block font-medium">NOMBRE</label>
                <input type="text" class="mt-1 p-2 border border-gray-300 rounded w-full" id="nombre">
              </div>
              <div>
                <label for="apellido" class="block font-medium">APELLIDO</label>
                <input type="text" class="mt-1 p-2 border border-gray-300 rounded w-full" id="apellido">
              </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              <div>
                <label for="numero" class="block font-medium">NUMERO</label>
                <input type="text" class="mt-1 p-2 border border-gray-300 rounded w-full" id="numero">
              </div>
              <div>
                <label for="correo" class="block font-medium">CORREO</label>
                <input type="email" class="mt-1 p-2 border border-gray-300 rounded w-full" id="correo">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Total y botón de pago -->
    <div>
      <div class="card bg-white rounded-lg shadow mb-4">
        <div class="card-body p-4">
          <h5 class="font-bold text-lg mb-4">TOTAL</h5>
          <h3 class="text-3xl mb-3">$845.25</h3>
          <button class="btn btn-primary w-full bg-blue-600 text-white font-medium py-2 rounded hover:bg-blue-700" routerLink="/carrito/confirmar">PROCEDER AL PAGO</button>
        </div>
      </div>
    </div>
  </div>
</div>
