<div class="carrito bg-gray-100 p-4 sm:p-6 md:p-10 pb-24">
  <h1 class="text-center text-3xl font-bold mb-6 pt-16 font-roboto">CARRITO DE COMPRA</h1>

  <!-- Tabla de productos y paquetes -->
  <div class="overflow-x-auto bg-white rounded-lg shadow p-4">
    <table class="min-w-full table-auto">
      <!-- Encabezado único -->
      <thead>
      <tr class="bg-gray-200">
        <th class="text-left text-sm font-semibold text-gray-700 p-2">Producto</th>
        <th class="text-center text-sm font-semibold text-gray-700 p-2">Precio Unitario</th>
        <th class="text-center text-sm font-semibold text-gray-700 p-2">Cantidad</th>
        <th class="text-center text-sm font-semibold text-gray-700 p-2">Subtotal</th>
      </tr>
      </thead>

      <tbody>
        <!-- Título "Productos" -->
        <tr *ngIf="products.length > 0">
          <td colspan="4" class="text-left text-sm font-bold text-gray-600 py-2 pl-4">Productos</td>
        </tr>

        <!-- Productos -->
        <tr class="border-b" *ngFor="let product of products">
          <td class="p-4 flex items-center gap-4">
            <button class="text-red-500 hover:text-red-700" (click)="removeItem(product.producto?.id || 0)">
              <!-- Icono eliminar -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <rect x="5" y="7" width="14" height="13" rx="2" ry="2" />
                <path d="M3 7h18M8 7V5a2 2 0 012-2h4a2 2 0 012 2v2" />
                <path d="M10 11v6M14 11v6" />
              </svg>
            </button>
            <img [src]="mediaBaseUrl + (product.producto?.media_relacionado?.[0] || '')" class="w-16 h-16 object-cover rounded" [alt]="product.producto?.nombre">
            <div>
              <span class="text-base font-medium text-gray-800 block">{{ product.producto?.nombre }}</span>
              <span class="text-sm text-gray-500">{{ product.producto?.categoria?.nombre }}</span>
            </div>
          </td>
          <td class="text-center text-base text-gray-600">${{ product.producto?.precio_actual }}</td>
          <td class="text-center">
            <!--  Botón de decrementar -->
            <button class="text-gray-500 hover:text-gray-700" (click)="decrementarProd(product.producto?.id || 0)">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
              </svg>
            </button>
            <input
              type="number"
              [(ngModel)]="product.cantidad"
              class="w-12 text-center border border-gray-300 rounded text-sm"
              min="1"
              (change)="editarCantProd(product.producto?.id!, product.cantidad!)"
              (keyup.enter)="editarCantProd(product.producto?.id!, product.cantidad!)"
            />


            <!-- Botón de incrementar -->
            <button class="text-gray-500 hover:text-gray-700" (click)="incrementarProd(product.producto?.id || 0)">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
              </svg>
            </button>

          </td>
          <td class="text-center text-base text-gray-800 font-semibold">${{ product.total }}</td>
        </tr>

        <!-- Título "Paquetes" -->
        <tr *ngIf="paquetes.length > 0">
          <td colspan="4" class="text-left text-sm font-bold text-gray-600 py-2 pl-4">Paquetes</td>
        </tr>

        <!-- Paquetes -->
        <tr class="border-b" *ngFor="let paquete of paquetes">
          <td class="p-4 flex items-center gap-4">
            <button class="text-red-500 hover:text-red-700" (click)="removePaquete(paquete.id || 0)">
              <!-- Icono eliminar -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <rect x="5" y="7" width="14" height="13" rx="2" ry="2" />
                <path d="M3 7h18M8 7V5a2 2 0 012-2h4a2 2 0 012 2v2" />
                <path d="M10 11v6M14 11v6" />
              </svg>
            </button>
            <img [src]="mediaBaseUrl + paquete.productos?.[0]?.producto?.media_relacionado?.[0] || ''" class="w-16 h-16 object-cover rounded" [alt]="paquete.nombre">
            <div>
              <span class="text-base font-medium text-gray-800 block">{{ paquete.nombre }}</span>
            </div>
          </td>
          <td class="text-center text-base text-gray-600">${{ paquete.precio_final }}</td>
          <td class="text-center">
            <!-- Botón de decrementar -->
            <button class="text-gray-500 hover:text-gray-700" (click)="decrementarPaquete(paquete.id || 0)">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
               </svg>
            </button>

<!--            <span class="w-12 text-center border border-gray-300 rounded text-sm">1</span>-->

            <input
              type="number"
              [(ngModel)]="paquete.cantidad_total_paquete"
              class="w-12 text-center border border-gray-300 rounded text-sm"
              min="1"
              (change)="editarCantPaquete(paquete.id!, paquete.cantidad_total_paquete!)"
              (keyup.enter)="editarCantPaquete(paquete.id!, paquete.cantidad_total_paquete!)"
            />

            <!-- Botón de incrementar -->
            <button class="text-gray-500 hover:text-gray-700" (click)="incrementarPaquete(paquete.id || 0)">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
              </svg>
            </button>

          </td>
          <td class="text-center text-base text-gray-800 font-semibold">${{ paquete.precio_final }}</td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- Total y botón de pago -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
    <div class="bg-white rounded-lg shadow p-6">
      <!-- Input de fecha -->
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Seleccionar Fecha</label>
        <input
          type="date"
          class="w-full border border-gray-300 rounded-lg p-2"
          min="{{ fechaActual }}"
          max="{{ fechaMaxima }}"
          (change)="onFechaChange($event)"
        />
      </div>
      <!-- Input de hora -->
      <div>
        <label class="block text-gray-700 font-bold mb-2">Seleccionar Hora</label>
        <select class="w-full border border-gray-300 rounded-lg p-2" [disabled]="!fechaSeleccionada" (change)="onHoraChange($event)">
          <option value="" hidden>Seleccionar hora</option>
          <option *ngFor="let hora of horasDisponibles" [value]="hora">
            {{ hora }}
          </option>
          <option *ngIf="horasDisponibles.length === 0" disabled>
            No hay horas disponibles para esta fecha
          </option>
        </select>
      </div>
    </div>

    <div>
      <div class="bg-white rounded-lg shadow p-6">
        <h5 class="font-bold text-lg mb-4">TOTAL</h5>
        <h3 class="text-3xl mb-3">${{ totalCart }}</h3>
        <button
          class="w-full bg-blue-600 text-white font-medium py-3 rounded-lg hover:bg-blue-700 transition duration-200"
          [disabled]="isProcessing || totalCart === 0 || cartIsEmpty"
          (click)="navigateToRevisar()"
        >
          PROCEDER AL PAGO
        </button>
      </div>
    </div>
  </div>
</div>
