<div class="min-h-screen bg-gray-50 py-6 px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <!-- Encabezado -->
    <div class="mb-6">
      <h1 class="text-2xl font-bold text-gray-900 mb-2 font-roboto">Agregar Nuevo Paquete</h1>
      <p class="text-gray-600">Ingresa los detalles del nuevo paquete</p>
    </div>

    <!-- Formulario -->

    <app-form-paquete
      [isEditMode]="false"
      [formData]="formData"
      [rows]="rows"
      [categorias]="categorias"
      (savePaquete)="onSavePaquete($event)"
      (cancelPaquete)="cancelPaquete()"
      (imagesChanged)="onImagesChanged($event)"
    ></app-form-paquete>




  </div>
</div>
