/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color1{
  background-color: #537180;
}
.color2{
  background-color: rgb(167, 179, 181);
}
.color3{
  background-color: rgb(235, 216, 211);
}
.color4{
  background-color: #fafafa;
}
.color5{
  background-color: #4f4f4f;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
