@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color1{
  background-color: #537180;
}
.color2{
  background-color: rgb(167, 179, 181);
}
.color3{
  background-color: rgb(235, 216, 211);
}
.color4{
  background-color: #fafafa;
}
.color5{
  background-color: #4f4f4f;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.toast-container {
  z-index: 1050;
}

.toast {
  background-color: #1e293b !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.toast-progress {
  background-color: #38bdf8 !important;
}

.toast-top-right {
  margin-top: 2.8rem !important;
  right: 1rem;
}


.toast-bottom-right {
  margin-bottom: 2rem !important;
  right: 1rem;
}
