<div class="flex items-center justify-center h-screen">
<!--  <swiper-container-->
<!--    class="mySwiper"-->
<!--    pagination="true"-->
<!--    pagination-clickable="true"-->
<!--    navigation="true"-->
<!--    space-between="30"-->
<!--    centered-slides="true"-->
<!--    autoplay-delay="2500"-->
<!--    autoplay-disable-on-interaction="false"-->
<!--    loop="true"-->
<!--  >-->
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
                    slides-per-view="3" loop="true" autoplay-delay="2000">
    <swiper-slide>
      <img src="assets/img/PROD/5.jpg" alt="Slide 1" class="swiper-image" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/PROD/6.jpg" alt="Slide 2" class="swiper-image" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/PROD/14.jpg" alt="Slide 3" class="swiper-image" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/PROD/17.jpg" alt="Slide 4" class="swiper-image" />
    </swiper-slide>
  </swiper-container>
</div>
